// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//for accessibility 

h1 {
	font-weight: 800;
	font-size: 3em;
}

h2 {
	font-weight: 800;
	margin-top: 15px;
}

article a {
	text-decoration: underline;
}

//nav bar
.navbar-gold {
	background-color: $gold !important;
}

.navbar-gold:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 65px 65px 0 0;
  border-color: #000 transparent transparent  transparent;
}


a.nav-link, a.navbar-brand {
	color: #000 !important;
}

.nav-item.active a {
	text-decoration: underline;
}

.search-icon {
	color: #000;
	background-color: rgba(0,0,0,0);
	border: none;
}

.dropdown-menu li a{
	width: 220px;
	word-wrap: break-word;
	white-space: normal; 
}

//module pages
#learning-row {
	margin: 30px 0 50px 0;
}

.learning-objectives {
	border: 1px solid;
	padding: 15px;
	background-color: #efefef;
}

.module-intro {
  padding: 15px 0px 10px 30px;
}

.learning-objectives li {
	margin-top: .4em;
	line-height: 1.3em;
}

a.module-next-nav {
	display: block;
	width: 200px;
	border: 1px solid #000;
	background-color: $gold;
	font-size: 1.1em;
	font-weight: 800;
	margin: 20px auto;
	text-align: center;
	color: #000;
	text-decoration: none;
	padding: 7px 0;
	transition: all .4s;
}



a.module-next-nav:hover{
	background-color: #545454;
	color: $gold;
}

a.module-next-nav:hover i {
	margin-left: 10px;
}

.extras-footer {
	border-top: 12px solid $gold;
	margin-top: 40px;
	padding-top: 10px;
}

.extras-footer h2 {
	margin-top: 0;
	margin-bottom: 25px;
}

.extras-footer h3 {
	font-weight: 700;
}

.extras-footer a h3 {
  text-decoration: underline;
  text-decoration-color: $gold;
}

//video from https://developers.google.com/web/fundamentals/design-and-ui/media/video/size-videos-correctly?hl=en


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.embed-youtube {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}