// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//for accessibility 
article a {
	text-decoration: underline;
}

//nav bar
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,1);
}

.nav-item.active a {
	text-decoration: underline;
}


//module pages
#learning-row {
	margin: 30px 0 50px 0;
}

.learning-objectives {
	border: 1px solid;
	padding: 10px;
	background-color: #efefef;
}

.module-intro {
  padding: 10px 0px 10px 30px;
}

.learning-objectives li {
	margin-top: .4em;
	line-height: 1.3em;
}